<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">DÀNH CHO CON GÁI</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="owl-carousel">
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 406px;" src="/images/product/g1.jpg">
                <div class="card-body">
                    <div class="card-title"> Váy đầm</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/g2.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo dài Việt Nam</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/g3.jpg">
                <div class="card-body">
                    <div class="card-title"> Váy hè</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/g4.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo ngực</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/g5.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo diện</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/g6.jpg">
                <div class="card-body">
                    <div class="card-title"> Váy hàn quốc nội y</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/g7.jpg">
                <div class="card-body">
                    <div class="card-title"> Nội y mùa hè</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 406px;" src="images/product/g8.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo thu đông</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/g9.jpg">
                <div class="card-body">
                    <div class="card-title"> Váy cô nương</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 406px;" src="images/product/g10.jpg">
                <div class="card-body">
                    <div class="card-title"> Quần xám xịt</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">DÀNH CHO CON TRAI</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="owl-carousel">
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/M8.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo bò đen</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/M9.jpg">
                <div class="card-body">
                    <div class="card-title"> Combo dân chơi</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/M10.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo DATV</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/M1.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo khoác Ấm</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/M2.jpg">
                <div class="card-body">
                    <div class="card-title"> Quần bò ngắn</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/M3.jpg">
                <div class="card-body">
                    <div class="card-title"> Giày vip chất lượng</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/M4.jpg">
                <div class="card-body">
                    <div class="card-title"> Áo khoác mát</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/M5.jpg">
                <div class="card-body">
                    <div class="card-title"> Giày thể thao ok</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/M6.jpg">
                <div class="card-body">
                    <div class="card-title"> Giày ngắn cho nam</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/M7.jpg">
                <div class="card-body">
                    <div class="card-title"> Vòng thịnh vượng</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>


<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">XU HƯỚNG CÔNG NGHệ</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="owl-carousel">
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/c8.jpg">
                <div class="card-body">
                    <div class="card-title"> Chuột tẹt</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/c9.jpg">
                <div class="card-body">
                    <div class="card-title"> Tai nghe game thủ</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/c10.jpg">
                <div class="card-body">
                    <div class="card-title"> Cặp laptop</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/c1.jpg">
                <div class="card-body">
                    <div class="card-title"> I12 TWS</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/c14.jpg">
                <div class="card-body">
                    <div class="card-title"> Laptop XPro</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/c3.jpg">
                <div class="card-body">
                    <div class="card-title"> Đồng hồ Royal Crown</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/c4.jpg">
                <div class="card-body">
                    <div class="card-title"> Tai nghe Bluetooth</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/c5.jpg">
                <div class="card-body">
                    <div class="card-title"> Bình xạc Pro</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/c6.jpg">
                <div class="card-body">
                    <div class="card-title"> Ổ cắm gọn</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/c7.jpg">
                <div class="card-body">
                    <div class="card-title"> Máy thông minh</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">TRĂM HÀNG ƯU ĐÃI</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="owl-carousel">
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/u8.png">
                <div class="card-body">
                    <div class="card-title"> Chuột tẹt</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/u7.png">
                <div class="card-body">
                    <div class="card-title"> Tai nghe game thủ</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" style="height: 270px;" src="images/product/u6.png">
                <div class="card-body">
                    <div class="card-title"> Cặp laptop</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/u9.jpg">
                <div class="card-body">
                    <div class="card-title"> I12 TWS</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/u11.jpg">
                <div class="card-body">
                    <div class="card-title"> Laptop XPro</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/u5.png">
                <div class="card-body">
                    <div class="card-title"> Đồng hồ Royal Crown</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/u4.png">
                <div class="card-body">
                    <div class="card-title"> Tai nghe Bluetooth</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/u5.png">
                <div class="card-body">
                    <div class="card-title"> Bình xạc Pro</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/u6.png">
                <div class="card-body">
                    <div class="card-title"> Ổ cắm gọn</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="images/product/u7.png">
                <div class="card-body">
                    <div class="card-title"> Máy thông minh</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius
                        assumenda.<br />
                        <a class="btn btn-info">Mua</a> &nbsp; &nbsp; <a class="btn btn-success">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <a href="#">
        <button class="btn-whatchadd" style="margin-bottom: 10px;
        color: white;
        background: red;
        font-size: 24px;">Xem thêm sản phẩm =>>>
        </button>
    </a>
</div>