<footer>
  <p style="text-align: center;">&copy; 2021 Company DATV - VShop.</p>
</footer>
</div> <!-- /container -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="javascripts/spin.min.js"></script>
<script src="javascripts/custom.js"></script>

</body>

</html>