<div class="slider">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="display: none;">
            <li data-target="#carouselExampleInterval" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleInterval" data-slide-to="1" class="active1"></li>
            <li data-target="#carouselExampleInterval" data-slide-to="2" class="active2"></li>
            <li data-target="#carouselExampleInterval" data-slide-to="3" class="active3"></li>
            <li data-target="#carouselExampleInterval" data-slide-to="4" class="active4"></li>
            <li data-target="#carouselExampleInterval" data-slide-to="5" class="active5"></li>
        </ol>


        <div class="carousel-inner" style="text-align: center;">

            <div class="carousel-item active">
                <img src="images/header/a1.jpg" alt="..." style="width:auto; height: 600px;">
            </div>
            <div class="carousel-item active1">
                <img src="images/header/a2.jpg" alt="..." style="width:auto; height: 600px;">
            </div>
            <div class="carousel-item active2">
                <img src="images/header/a3.jpg" alt="..." style="width:auto; height: 600px;">
            </div>
            <div class="carousel-item active3">
                <img src="images/header/a4.jpg" alt="..." style="width:auto; height: 600px;">
            </div>
            <div class="carousel-item active4">
                <img src="images/header/a5.jpg" alt="..." style="width:auto; height: 600px;">
            </div>
            <div class="carousel-item active5">
                <img src="images/header/a6.jpg" alt="..." style="width:auto; height: 600px;">
            </div>
            
            <div class="row-header">
                <div class="col-md-3">
                    <img src="images/imgs/a.jpg" style="width: 350px; height: 350px;">
                </div>
                <div class="col-md-3">
                    <img src="images/imgs/a1.jpg" style="width: 350px; height: 350px;">
                </div>
                <div class="col-md-3">
                    <img src="images/imgs/a2.jpg" style="width: 350px; height: 350px;">
                </div>
                <div class="col-md-3">
                    <img src="images/imgs/a3.jpg" style="width: 350px; height: 350px;">
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>
<script>

</script>