<div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <div class="outer-div">
                <div class="inner-div1">
                    <h1 class="zoom-box-text">DÀNH CHO CON TRAI </h1>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="outer-div">
                <div class="inner-div2">
                    <h1 class="zoom-box-text">DÀNH CHO CON GÁI</h1>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="outer-div">
                <div class="inner-div3">
                    <h1 class="zoom-box-text">XU HƯỚNG CÔNG NGHỆ </h1>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="outer-div">
                <div class="inner-div4">
                    <h1 class="zoom-box-text">TRĂM HÀNG ƯU ĐÃI</h1>
                </div>
            </div>
        </div>

    </div>
</div>