<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  a{
    color: black;
  }
  #custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar" style="margin-bottom: 0px;">
  <div class="container">
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Tất cả</a></li>
          <li><a href="#section2">Chờ xác nhận</a></li>
          <li><a href="#section3">Chờ lấy hàng</a></li>
          <li><a href="#section4">Đang giao</a></li>
          <li><a href="#section5">Đã giao</a></li>
          <li><a href="#section6">Đã hủy</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>    

<div class="container">
	<div class="row">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="  search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">
                <span class=" glyphicon glyphicon-search"></span>
              </button>
            </span>
        </div>
      </div>
	</div>
</div>

<div id="section1" class="container">
</div>
<div id="section2" class="container">
</div>
<div id="section3" class="container">
</div>
<div id="section4" class="container">
</div>
<div id="section5" class="container">
</div>
<div id="section6" class="container">
</div>

</body>
</html>
