<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/login.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="653937923548-0jpr3d7gnpg600i0lrbnpa1k3v27760c.apps.googleusercontent.com">
    <script src="js/login.js"></script>
    <title>Document</title>
</head>

<body>
    <!--==========header===========-->
    <div class="nav">
        <div class="nav-1">
            <div class="nav-right">
                <div class="logo">
                    <div class="logo-item"><a href="/"><img src="/img/v-shopee.png"
                                class="shopee-svg-icon header-with-search__shopee-logo icon-shopee-logo" style="
                        width: 162px;
                        height: 50px;
                        fill: rgb(238, 77, 45);
                    " alt=""></a></div>
                </div>
                <div class="aaa-text">Đăng nhập</div>
            </div>
            <a href="#" style="color: red; font-size: 18px">cần trợ giúp?</a>
        </div>
    </div>

    <!--=========container===========-->
    <div class="contents" style="background: rgb(238, 77, 45);">
        <div class="font-login" style="background: url(img/image-vshopee.png);">
            <form action="/login" method="POST" class="form" id="form-1">
                <div class="form-login">
                    <div class="text-header">Đăng nhập</div>
                    <div class="form-login-input">
                        <div><input type="text" name="taikhoan" placeholder="Email/Số điện thoại/Tên đăng nhập"></div>
                        <div><input type="password" name="matkhau" placeholder="Mật khẩu"></div>
                        <button type="submit">Đăng nhập</button>
                        <div class="forget-pass">
                            <div><a href="forgot_password" style="cursor: pointer;
                                font-size: 16px;
                                opacity: 0.8;
                                color: red;">Quên mật khẩu</a></div>
                            <div style="cursor: pointer;">Đăng nhập với SMS</div>
                        </div>
                        <div class="IFLxoY">
                            <div class="_3svg61"></div>
                            <div style="text-align: center;" class="_1ZEpVL">Hoặc</div>
                            <div class="_3svg61"></div>
                        </div>
                        <div class="app-logo">
                            <div class="backgroud-blue acc button"><i class="fab fa-facebook"></i><a
                                    href="https://www.facebook.com/" style="color:white; opacity: 1;">Facebook</a></div>
                            <a href="#" onclick="signOut();" type="hidden">
                                <div class="background-blue-1 mail-color g-signin2" style="height: 41px;"
                                    data-onsuccess="onSignIn"></div>
                            </a>

                            <div class="backgroun-black acc button"><i class="fab fa-apple"></i><a
                                    href="https://appleid.apple.com/vn" style="color:white; opacity: 1;">Apple</a></div>
                        </div>
                    </div>
                    <div class="text-bottom">Bạn mới biết đến Shopee? <a href="register"
                            style="color: red; opacity: 1; font-size: 18px;">Đăng ký</a></div>
                </div>
            </form>
        </div>
    </div>
    <!--==========foodter==============-->
    <div class="foodter">
        <div class="foodter-top">
            <div>
                <h5 style="font-size: 12px; ">CHĂM SÓC KHÁCH HÀNG</h5>
                <ul>
                    <li><a href="#">Trung Tâm Trợ Giúp</a></li>
                    <li><a href="#">Shopee Blog</a></li>
                    <li><a href="#">Shopee Mall</a></li>
                    <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                    <li><a href="#">Hướng Dẫn Bán Hàng</a></li>
                    <li><a href="#">Thanh Toán</a></li>
                    <li><a href="#">Shopee Xu</a></li>
                    <li><a href="#">Vận Chuyển</a></li>
                    <li><a href="#">Trả Hàng & Hoàn Tiền</a></li>
                    <li><a href="#">Chăm Sóc Khách Hàng</a></li>
                    <li><a href="#">Chính Sách Bảo Hành</a></li>
                </ul>
            </div>
            <div>
                <h5 style="font-size: 12px; ">VỀ SHOPEE</h5>
                <ul>
                    <li><a href="#">Giới Thiệu Về Shopee Việt Nam</a></li>
                    <li><a href="#">Tuyển Dụng</a></li>
                    <li><a href="#">Điều Khoản Shopee</a></li>
                    <li><a href="#">Chính Sách Bảo Mật</a></li>
                    <li><a href="#">Chính Hãng</a></li>
                    <li><a href="#">Kênh Người Bán</a></li>
                    <li><a href="#">Flash Sales</a></li>
                    <li><a href="#">Chương Trình Tiếp Thị Liên Kết Shopee</a></li>
                    <li><a href="#">Liên Hệ Với Truyền Thông</a></li>
                </ul>
            </div>
            <div>
                <h5 style="font-size: 12px; ">THANH TOÁN</h5>
                <ul>
                    <li><a href="#">Trung Tâm Trợ Giúp</a></li>
                    <li><a href="#">Shopee Blog</a></li>
                    <li><a href="#">Shopee Mall</a></li>
                    <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                </ul>
                <h5 style="font-size: 12px; ">ĐƠN VỊ VẬN CHUYỂN</h5>
            </div>
            <div>
                <h5 style="font-size: 12px; ">THEO DÕI CHÚNG TÔI TRÊN</h5>
                <ul>
                    <li><i class="fab fa-page4"></i><a href="#">Website</a></li>
                    <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
                    <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
                    <li><i class="fab fa-linkedin"></i><a href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
        <div class="foodter-button">
            <div class="container aaa">
                <div>© 2021 Shopee. Tất cả các quyền được bảo lưu.</div>
                <div>Quốc gia & Khu vực: | Singapore | Indonesia | Đài Loan | Thái Lan | Malaysia | Việt Nam |
                    Philippines | Brazil</div>
            </div>
            <br>
        </div>
        <div class="container text-center">
            <p>Địa chỉ: Tầng 28, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội.
                Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
            <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
            <p>© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
        </div>
    </div>
    </div>
</body>

</html>