<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/view-all-product.css">
    <title>Document</title>
</head>

<body>
    <!-- =========Header======== -->
    <div class="header">

        <!--======Navbar=======-->
        <div class="nav container">

            <div class="w3-bar w3-white">
                <a href="#home" class="w3-bar-item">Kenh nguoi ban |</a>
                <a href="#home" class="w3-bar-item">tai ung dung |</a>
                <a href="#home" class="w3-bar-item">ket noi</a>
            </div>
            <div class="w3-right w3-hide-small">
                <a href="#projects" class="w3-bar-item">thong bao |
                    <div class="an-hien">
                        hahaha
                    </div>

                </a>
                <a href="#about" class="w3-bar-item">tro giup |</a>
                <a href="register" class="w3-bar-item">dang ki |</a>
                <a href="login" class="w3-bar-item">dang nhap</a>
            </div>
        </div>


        <div class="container header_search">
            <div class="logo">
                <div class="logo-item"><a href="/">
                    <img src="/img/icon-image-vshopee.png"
                        class="shopee-svg-icon header-with-search__shopee-logo icon-shopee-logo" style="
                width: 162px;
                height: 50px;
                fill: #fff;
            " alt=""></a></div>
            </div>
            <div class="header-search">
                <input type="text" class="search" placeholder="3.3 Hàng ngàn sản phẩm giảm giá ">
                <button class="search-btn">
                    <i class="fa fa-search icon-search"></i>
                </button>
            </div>
            <div class="header-cart">
                <i class="fa fa-shopping-cart w3-margin-right"></i>
            </div>
        </div>

        <div class="container" style="text-align: center;">
            <a href="#projects" class="w3-bar-item">Ao nu</a>
            <a href="#about" class="w3-bar-item">Dep nam</a>
            <a href="#contact" class="w3-bar-item">Balo</a>
            <a href="#contact" class="w3-bar-item">Sandal</a>
            <a href="#contact" class="w3-bar-item">Hoodie</a>
            <a href="#contact" class="w3-bar-item">Váy trắng</a>
            <a href="#contact" class="w3-bar-item">Quần nam</a>
            <a href="#contact" class="w3-bar-item">Quần nam</a>
        </div>
    </div>

    <!-- =========Container======== -->

    <div class="tat-ca">Tất Cả</div>


    <!-- ===========Footer========== -->
    <div class="foodter">
        <div class="foodter-top">
            <div>
                <h5 style="font-size: 12px; ">CHĂM SÓC KHÁCH HÀNG</h5>
                <ul>
                    <li><a href="#">Trung Tâm Trợ Giúp</a></li>
                    <li><a href="#">Shopee Blog</a></li>
                    <li><a href="#">Shopee Mall</a></li>
                    <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                    <li><a href="#">Hướng Dẫn Bán Hàng</a></li>
                    <li><a href="#">Thanh Toán</a></li>
                    <li><a href="#">Shopee Xu</a></li>
                    <li><a href="#">Vận Chuyển</a></li>
                    <li><a href="#">Trả Hàng & Hoàn Tiền</a></li>
                    <li><a href="#">Chăm Sóc Khách Hàng</a></li>
                    <li><a href="#">Chính Sách Bảo Hành</a></li>
                </ul>
            </div>
            <div>
                <h5 style="font-size: 12px; ">VỀ SHOPEE</h5>
                <ul>
                    <li><a href="#">Giới Thiệu Về Shopee Việt Nam</a></li>
                    <li><a href="#">Tuyển Dụng</a></li>
                    <li><a href="#">Điều Khoản Shopee</a></li>
                    <li><a href="#">Chính Sách Bảo Mật</a></li>
                    <li><a href="#">Chính Hãng</a></li>
                    <li><a href="#">Kênh Người Bán</a></li>
                    <li><a href="#">Flash Sales</a></li>
                    <li><a href="#">Chương Trình Tiếp Thị Liên Kết Shopee</a></li>
                    <li><a href="#">Liên Hệ Với Truyền Thông</a></li>
                </ul>
            </div>
            <div>
                <h5 style="font-size: 12px; ">THANH TOÁN</h5>
                <ul>
                    <li><a href="#">Trung Tâm Trợ Giúp</a></li>
                    <li><a href="#">Shopee Blog</a></li>
                    <li><a href="#">Shopee Mall</a></li>
                    <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                </ul>
                <h5 style="font-size: 12px; ">ĐƠN VỊ VẬN CHUYỂN</h5>
            </div>
            <div>
                <h5 style="font-size: 12px; ">THEO DÕI CHÚNG TÔI TRÊN</h5>
                <ul>
                    <li><i class="fab fa-facebook"></i> <a href="#">Facebook</a></li>
                    <li><i class="fab fa-instagram"></i><a href="#"> Instagram</a></li>
                    <li><i class="fab fa-linkedin"></i><a href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
        <div class="foodter-button">
            <div class="container aaa">
                <div>© 2021 Shopee. Tất cả các quyền được bảo lưu.</div>
                <div>Quốc gia & Khu vực: | Singapore | Indonesia | Đài Loan | Thái Lan | Malaysia | Việt Nam |
                    Philippines | Brazil</div>
            </div>
            <br>
        </div>
        <div class="container text-center">
            <p>Địa chỉ: Tầng 28, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội.
                Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
            <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
            <p>© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
        </div>
    </div>
    </div>

</body>

</html>