* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background: #dadad95e;
}

#app {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.fab {
    margin-right: 10px;
    font-size: 15px;
}

.mySlides {
    display: none
}

a:hover {
    color: white;
    opacity: 0.5;
}

.header {
    -webkit-transform: translateZ(0);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    max-width: 100%;
    min-width: inherit;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
}

a {
    /* text-decoration: none; */
    color: white;
}

.navbar-warpper {
    height: 2.125rem;
    z-index: 9999999;
    background: transparent;
    position: relative;
}

.header .navbar-warpper .container-wrapper {
    min-width: inherit;
}

.container-wrapper {
    min-width: 1200px;
}

.header .navbar.container {
    width: inherit;
    max-width: 1200px;
}

.navbar-wrapper .header-fix {
    color: #fff;
}

.container {
    max-width: inherit;
    width: 1230px;
}

.navbar__spacer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    padding-top: 5px;
}

.header-with-search-wrapper {
    background: transparent;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.header-with-search-wrapper {
    box-shadow: 0 0.0625rem 0.15625rem rgb(0 0 0 / 5%);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 300;
    padding: 5px 0 10px 0;
}
.container-wrapper .header-with-search-wrapper .header {
    background-color: #ee4d2d;
}

.w3-right {
    list-style: none;
    padding: 0;
    margin: 0;
}

.w3-bar-item {
    margin: 2px;
}

.logo {
    padding-right: 2.5rem;
    top: -5px;
    position: relative;
    width: 200px;
}

.logo-item {
    position: absolute;
    top: -15px;
}

.logo-item a {
    color: white;
    text-decoration: none;
}

.header_search {
    display: flex;
    align-items: center;
    color: white;
}

.header-search {
    background: white;
    height: 40px;
    border-radius: 2px;
    flex: 1;
    display: flex;
}

.search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px 16px;
}

.header-cart {
    text-align: center;
    font-size: 20px;
    width: 150px;
}

.text-6kthang {
    margin: -25px 23px;
    font-size: 14px;
}

.search-btn {
    background: #fe6433;
    border: none;
    height: 34px;
    width: 64px;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 3px;
    outline: none;
}

.icon-search {
    font-size: 1.4rem;
    color: white;
}

.item {
    margin-top: 10px;
    background: rgb(212, 204, 204);
}

.header-buttom {
    padding: 15px 37px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #fff;
    width: 1200px;
    margin: 10px auto 0;
    min-height: 108px;
}

.sale {
    width: 100px;
    text-align: center;
    margin: 0px 8px;
    cursor: pointer;
}

.container-header-buttom {
    display: flex;
    justify-content: center;
}

.an-hien {
    display: none;
}

.w3-bar-item:hover .an-hien {
    display: block;
    height: 200px;
    width: 300px;
    background: #000;
}


@media only screen and (max-width: 300px) {
    .header,
    .icon-search,
    .logo-item a {
        font-size: 11px
    }
}

/*======container======*/

.img-xxhdpi {
    margin-bottom: 20px;
    text-align: center;
}

.img-xxhdpi img {
    height: 110px;
    width: 1200px;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    cursor: pointer;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.abc {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 14px;
}

.active,
.dot:hover {
    background-color: #717171;
}

.boder-slide {
    padding: 20px 60px;
    margin-top: 120px;
}

.san-pham-tim-kiem {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;

}

.text-tim-kiem-sp {
    font-size: 13px;
    background: #fe6433;
    color: white;
    width: 100%;
    padding: 4px;
    text-align: center;
    display: none;
}

.text-hover:hover .text-tim-kiem-sp {
    display: block;
    opacity: 1;
}

.seach-top {
    border-bottom: 1px solid rgb(194, 191, 191);
    width: 75rem;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    justify-content: space-between;
    -webkit-box-pack: justify;
    display: -webkit-flex;
    align-items: center;
}

.tim-kiem-hang-dau {
    background-color: white;
    margin-bottom: 20px;
}

.row-tim-kiem-hang-dau {
    display: flex;
    padding: 20px 0;
}

.btn__col-tim-kiem-hang-dau {
    padding-right: 20px;
}

.col-tim-kiem-hang-dau {
    width: 33.33%;
    cursor: pointer;
}

.img-tim-kiem-hang-dau {
    display: flex;
}

.sandal-nu {
    display: flex;
    cursor: pointer;
}

.text-sandal {
    padding: 5px 3px;

}

.text-sandal h6 {
    font-weight: 100;
    font-size: 20px;
    margin-left: 10px;
}

.text-sandal p {
    opacity: 0.5;
    font-size: 15px;
    margin-left: 10px;
}

.background {
    background: white;
}

.header-tim-kiem {
    height: 50px;
    margin-top: 20px;
}

.item {
    cursor: pointer;
}

.item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.item-name {
    font-weight: 400;
    line-height: 1.8rem;
    font-size: small;
    padding: 0 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.gia-ban {
    color: #f53e2d;
    font-size: 13px;
    margin-left: 5px;
}

.san-pham {
    padding-left: -2px;
    font-size: 11px;
    margin-right: 0px;
}

.goi-y {
    margin-top: 7.5rem;
}

.header-goi-y {
    /* height: 3.75rem; */
    font-size: 1rem;
    background-color: white;
    padding: .9375rem 2.875rem;
    border-bottom: 1px solid rgb(194, 191, 191);
    width: 75rem;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    justify-content: space-between;
    -webkit-box-pack: justify;
    display: -webkit-flex;
    align-items: center;
    padding-left: 20px;
}

.goi-y-text {
    text-transform: uppercase;
    color: darkorange;
    border-bottom: 4px solid;
    margin-left: -16px;
    text-align: center;
    cursor: pointer;
}

.goi-y-img {
    cursor: pointer;
    padding-left: 30px;
}

.button-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-btn button {
    padding: 5px 200px;
    outline: none;
    border: none;
}

/*======footer==========*/

.footer {
    min-width: 75rem;
    border-top: 4px solid #ee4d2d;
    background-color: #fff;
    color: rgba(0, 0, 0, .54);
}

.footer h2 {
    font-size: 15px;
    font-weight: bold;
}

.danh-muc-1 a {
    color: #666;
}

ul {
    list-style: none;
}

ul li a {
    color: #666;
}

.aaa {
    display: flex;
    justify-content: space-between;
}

.can-le {
    justify-content: space-between;
    display: flex;
}

.fa {
    width: 1rem;

}

.can-le .danh-muc-1 a:hover {
    color: red;
    opacity: 1 !important;
}

.can-le ul li a:hover {
    color: red;
    text-decoration: none;
    opacity: 1;
}

/*========Reponsive=========*/

.xuhuong {
    border-right: 1px solid rgba(0, 0, 0, .05);
    -moz-box-sizing: border-box;
}

.xephinh {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.colum {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, .05);
    text-align: center;
    padding: 10px 0;
}


.san__pham {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.colum:first-child {
    border-left: none;
}

.colum:last-child {
    border-right: none;
}

.left {
    width: 225px;
    margin-right: 10px;
}

.left img {
    width: 100%;
}

.right {
    width: 110px;
}

.right img {
    width: 100%;
}

.do-choi-xep-hinh {
    padding: 13px 77px;
}

.xu-huong-tim-kiem {
    background-color: #fff;
    margin-bottom: 20px;
}


.goi-y-hom-nay {
    margin-bottom: 10px;
}



/* ############################################## */
/* Product */
.section {
    background-color: white;
    margin-bottom: 20px;
    height: 27.46rem;
}

.title {
    border-bottom: 1px solid rgb(194, 191, 191);
    width: 75rem;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    justify-content: space-between;
    -webkit-box-pack: justify;
    display: -webkit-flex;
    align-items: center;
}

.late {
    padding-left: 20px;
}

.product-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
    justify-content: space-between;
}

.product {
    height: 23.3rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    max-width: 270px;
}

.product:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.product-header {
    position: relative;
    background-color: #f6f2f1;
    transition: all 300ms ease-in-out;
    max-height: 280px;
    z-index: 0;
}

.product-header img {
    height: 260px;
    width: 300px;
}


.boy-sirst {
    padding-top: 10px;
}

.product-footer h3 {
    font-size: 2.2rem;
}

.rating {
    color: #43b3d9;
}

.product-footer .price {
    color: #ff7c9c;
    font-size: 2rem;
}

.product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 1;
}

.product-header .icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.product-header .icons span {
    background-color: #fff;
    font-size: 1.5rem;
    display: block;
    border-radius: 50%;
    padding: 1rem 2rem;
    line-height: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.product-header .icons span i {
    transition: all 500ms ease-in-out;
}

.product-header .icons span:not(:last-child) {
    margin-bottom: 1rem;
}

.product-header .icons span:hover {
    background-color: #ff7c9c;
    color: blue;
}

.product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(0.5);
}

.product-header .icons a {
    display: block;
    margin-bottom: 1rem;
}


.xuhuongthoitrang {
    margin: 0 auto;
    display: flex;
}

.xuhuongthoitrang-md {
    max-width: 100rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .xuhuongthoitrang {
        padding: 0 3rem;
    }

    .xuhuongthoitrang-md {
        padding: 0 3rem;
    }
}

.xemtaoday {
    background-color: #fff;
}

.xemtaoday-1 {
    width: 1230px;
}

.padding-row {
    padding-bottom: 50px;
    padding-left: 22rem;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    padding-right: 22rem;
    padding-top: 64px;
}

.lastcontainer {
    width: 75rem;
    margin: 3.75rem auto .625rem;
    padding-bottom: 3.75rem;

}

.lastcontainer-1 {
    margin: 0 -.3125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.lasted {
    width: 75rem;
    margin: auto;
    padding-top: 70px;
}

.lasted-1 {
    background: #f5f5f5;
}

.versionlasted {
    background-color: #dadad95e;
}

.carousel {
    overflow: hidden;
    position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item img {
    width: 100%;
    max-width: 120%;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.header__qr {
    width: 186px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 33px;
    padding: 8px;
    border-radius: 2px;
}

a {
    position: relative;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-right: 11px;
}

.header__qr-link:nth-child(2) {
    margin-left: 11px;
}

.header__qr-dowload-img {
    height: 15px;
}

.icon-section {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.brands-center-section {
    max-width: 120rem;
    margin: 0 auto;
    padding: 30px;
}
.brands-center {
    display: grid;
    width: 1230px;
    grid-template-columns: repeat(6, 1fr);
}
.brands-center-section {
    max-width: 120rem;
    margin: 0 auto;
}

.brand {
    height: 6rem;
    width: 8rem;
    margin: 0 auto;
}
.img-big {
    width: 130px;
}