*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.fab{
    margin-right: 10px;
    font-size: 15px;
}

a:hover{
 color: white;
 opacity: 0.5;   
}
.header{
    height: 120px;
    line-height: 35px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.nav{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
.w3-bar-item{
    margin: 2px;
}
.logo{
    padding-right: 2.5rem;
    top: -5px;
    position: relative;
    width: 200px;
}
.logo-item{
    position: absolute;
    top:-15px;
}
.logo-item a{
    color: white;
    text-decoration: none;
}
.header_search{
    display: flex;
    align-items: center;
    color: white;
}
.header-search{
    background: white;
    height: 40px;
    border-radius: 2px;
    flex: 1;
    display: flex;
}
.search{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px 16px;
}
.header-cart{
    text-align: center;
    font-size: 20px;
    width: 150px;
}
.search-btn{
    background: #fe6433;
    border: none;
    height: 34px;
    width: 64px;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 3px;
    outline: none;
}
.icon-search{
    font-size: 1.4rem;
    color: white;
}
.item{
    margin-top: 10px;
    background:rgb(212, 204, 204);
}

.header-buttom{
    padding: 15px 37px;
}
.sale{
    width: 100px;
    text-align: center;
    margin: 0px 8px;
    cursor: pointer;
}
.container-header-buttom{
    display: flex;
}
.an-hien{
    display: none;
}
.w3-bar-item:hover .an-hien{
    display: block;
    height: 200px;
    width: 300px;
    background: #000;
}

@media only screen and (max-width: 300px) {
    .header, .icon-search,.logo-item a {font-size: 11px}
  }

/*=======container=======*/
.tat-ca{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background: #fe6433;
    color: white;
}

  /*=====footer======*/
li{
    list-style-type: none;
}
.foodter a{
    color: black;
    font-size: 13px;
    opacity: .6;
}
.foodter a:hover{
    color: red;
    opacity: 1;
}
.foodter-top{
    display: flex;
    padding-top: 30px;
    width: 75rem;
    margin: auto;
    justify-content: space-around;
}
.foodter-button{
    padding-top: 30px;
    margin: auto;
    padding: 0px 70px;
}
.aaa{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.text-center{
    text-align: center;
    font-size: 13px;
}